<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanCaPhe.Properties.Settings.quanlyquananConnectionString"
            connectionString="Data Source=LAPTOP-5HF4V9U4\DOANWINDOW;Initial Catalog=quanlyquanan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>